<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/complete.css" rel="stylesheet" >
    <title> Hangman </title>
  </head>

  <body>
    <div class="header">
      <h1> HANGMAN </h1>
    </div> 
    <div class="desc" >
      <h2> Please enter a word to create a game! </h2>
    </div>
    <div class="error">
      <p> <%= error %> </p>
    </div>
    <div class="form_container">
      <form method="get" action="/multiplayer_submit">
         <input type="text" id="answer" class="answer" name="answer" maxlength="15" autofocus><br/>
        <input type="submit" id="newgame" class="btn-default" value="Create Game">
      </form>
    </div>
    
  </body>
</html>