<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet" >
    <title> Hangman </title>
  </head>

  <body>
    <div class="header">
      <h1> HANGMAN </h1>
    </div> 
    <div class="desc" >
      <h2> Choose a category to start a new game! </h2>
    </div>
    <div class="body">
      <div class="pods">
        <a href="/hangman?category=halloween">
          <div class="podA">
            <p>Halloween</p>
          </div>
        </a>
        <a href="/hangman?category=sport">
          <div class="podB">
            <p>Sport</p>
          </div>
        </a>
        <a href="/hangman?category=beach">
          <div class="podA">
            <p>Beach</p>
          </div>
        </a>
      </div>
      <div class="pods">
        <a href="/hangman?category=computing">
          <div class="podB">
            <p>Computing</p>
          </div>
        </a>
        <a href="/hangman?category=pirates">
          <div class="podA">
            <p>Pirates</p>
          </div>
        </a>
        <a href="/hangman?category=food">
          <div class="podB">
            <p>Food</p>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>